body {
    background-color: #111;
    color: aliceblue;
}

.item {
    border: 1px solid grey;
}

.btn {
    display: block;
    padding: 6px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-left: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #bcd1e6;
}